workflow.json
{
  "name": "Orders DQ Monitor \u2014 Sheets \u2192 LLM \u2192 Alert",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1xnNGvKyqFdkRz1Di_iWfUgE9FC6Hir8OvhzYWmCOSXQ",
          "mode": "list",
          "cachedResultName": "Orders Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xnNGvKyqFdkRz1Di_iWfUgE9FC6Hir8OvhzYWmCOSXQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "orders",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xnNGvKyqFdkRz1Di_iWfUgE9FC6Hir8OvhzYWmCOSXQ/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -64,
        -144
      ],
      "id": "c58a1356-458a-4c28-b4cc-33540c448865",
      "name": "Read Orders",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(item => item.json);\n\nconst failures = [];\nconst seenOrderIds = new Set();\nconst today = new Date();\ntoday.setHours(0, 0, 0, 0);\n\nconst requiredFields = ['order_id', 'customer_id', 'amount', 'order_date'];\n\nrows.forEach((row, index) => {\n  const rowNum = index + 2;\n  const rowFailures = [];\n\n  requiredFields.forEach(field => {\n    const val = row[field];\n    if (val === undefined || val === null || String(val).trim() === '') {\n      rowFailures.push(`Missing required field: ${field}`);\n    }\n  });\n\n  if (row.order_id && String(row.order_id).trim() !== '') {\n    const oid = String(row.order_id).trim();\n    if (seenOrderIds.has(oid)) {\n      rowFailures.push(`Duplicate order_id: ${oid}`);\n    } else {\n      seenOrderIds.add(oid);\n    }\n  }\n\n  const amount = parseFloat(row.amount);\n  if (!isNaN(amount) && amount <= 0) {\n    rowFailures.push(`Amount is zero or negative: ${row.amount}`);\n  }\n\n  const dateStr = String(row.order_date || '').trim();\n  const dateRegex = /^\\d{4}-\\d{2}-\\d{2}$/;\n  const parsedDate = new Date(dateStr);\n  const isValidFormat = dateRegex.test(dateStr) && !isNaN(parsedDate.getTime());\n\n  if (dateStr !== '' && !isValidFormat) {\n    rowFailures.push(`Invalid date format: ${row.order_date}`);\n  }\n\n  if (isValidFormat) {\n    const orderDate = new Date(dateStr);\n    orderDate.setHours(0, 0, 0, 0);\n    if (orderDate > today) {\n      rowFailures.push(`Future order_date: ${row.order_date}`);\n    }\n  }\n\n  if (rowFailures.length > 0) {\n    failures.push({\n      row_number: rowNum,\n      order_id: row.order_id || '(blank)',\n      issues: rowFailures\n    });\n  }\n});\n\nconst totalRows = rows.length;\nconst failedRows = failures.length;\nconst passedRows = totalRows - failedRows;\n\nreturn [{\n  json: {\n    total_rows: totalRows,\n    passed: passedRows,\n    failed: failedRows,\n    has_failures: failedRows > 0,\n    failures: failures,\n    run_timestamp: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        -144
      ],
      "id": "27327a89-36a3-43c2-9d20-72b6bff1abe5",
      "name": "Run Quality Checks"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b325e54a-baf6-4265-9de9-bdebe9f11d1b",
              "leftValue": "={{ $json.has_failures }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        512,
        -144
      ],
      "id": "22118aff-6198-4be2-b73a-9f4351aa6389",
      "name": "Has Failures?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "44ce8009-5a57-47d0-b3c0-7ce8245cbda1",
              "name": "prompt_text",
              "value": "={{ \"You are a data quality analyst. Below is a summary of a failed data quality run on an orders dataset. Write a short business-friendly incident summary (3-5 sentences) that a non-technical manager could understand. Include what failed how many rows were affected and suggest a general next step. Run timestamp: \" + $json.run_timestamp + \". Total rows checked: \" + $json.total_rows + \". Rows with failures: \" + $json.failed + \". Failure details: \" + $json.failures.slice(0, 10).map(f => \"Row \" + f.row_number + \" order \" + f.order_id + \" \" + f.issues.join(\" and \")).join(\". \") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        896,
        -400
      ],
      "id": "a9e232e2-fd15-49af-829d-036888ac7620",
      "name": "Shape LLM Payload"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"google/gemma-3-4b-it:free\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"={{ $json.prompt_text }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1120,
        -400
      ],
      "id": "6daade7b-45e3-459c-8484-2f4916490c5c",
      "name": "Call Gemini",
      "credentials": {
        "httpBearerAuth": {
          "id": "YOUR_OPENROUTER_CREDENTIAL_ID",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dfed1daa-2ff7-4920-be4d-f1f16e7f4726",
              "name": "llm_summary",
              "value": "={{ $json.choices[0].message.content }}",
              "type": "string"
            },
            {
              "id": "bbaa00f2-3ae8-431f-b48e-0804e279037d",
              "name": "run_timestamp",
              "value": "={{ $('Run Quality Checks').item.json.run_timestamp }}",
              "type": "string"
            },
            {
              "id": "37331d94-bb18-457e-97e9-1fe0f6a41ef1",
              "name": "total_rows",
              "value": "={{ $('Run Quality Checks').item.json.total_rows }}",
              "type": "string"
            },
            {
              "id": "39069a57-8469-4534-992f-a89cfdbd09d1",
              "name": "passed",
              "value": "={{ $('Run Quality Checks').item.json.passed }}",
              "type": "number"
            },
            {
              "id": "e0bafae6-56c0-41c9-aea5-31117a9b7ba8",
              "name": "failed",
              "value": "={{ $('Run Quality Checks').item.json.failed }}",
              "type": "number"
            },
            {
              "id": "0d278371-be5e-4f97-a753-6bb68c63dd88",
              "name": "failure_summary",
              "value": "={{ $('Run Quality Checks').item.json.failures.slice(0,20).map(f => \"Row \" + f.row_number + \" (\" + f.order_id + \"): \" + f.issues.join(\"; \")).join(\" | \").substring(0, 4000) }}",
              "type": "string"
            },
            {
              "id": "8f113565-5c8f-47b1-9356-74947dfd4e71",
              "name": "freshness_warning",
              "value": "={{ $('Check Data Freshness').first().json._freshness_warning }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1360,
        -400
      ],
      "id": "63f10139-b39b-4417-8335-87cfba42e3f2",
      "name": "Extract LLM Summary"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "Orders Data"
        },
        "sheetName": {
          "__rl": true,
          "value": "audit_log",
          "mode": "list",
          "cachedResultName": "audit_log"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "run_timestamp": "={{ $('Run Quality Checks').item.json.run_timestamp }}",
            "total_rows": "={{ $('Run Quality Checks').item.json.total_rows }}",
            "passed": "={{ $('Run Quality Checks').item.json.passed }}",
            "failed": "0",
            "failure_summary": "No failures detected",
            "llm_summary": "N/A",
            "run_number": "={{ new Date().getTime() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "run_timestamp",
              "displayName": "run_timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "total_rows",
              "displayName": "total_rows",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "passed",
              "displayName": "passed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "failed",
              "displayName": "failed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "failure_summary",
              "displayName": "failure_summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "llm_summary",
              "displayName": "llm_summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "run_number",
              "displayName": "run_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        896,
        32
      ],
      "id": "81ffa63a-50de-46bc-a193-f54a2a586a9e",
      "name": "Log Run (clean)",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "Orders Data"
        },
        "sheetName": {
          "__rl": true,
          "value": "audit_log",
          "mode": "list",
          "cachedResultName": "audit_log"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "run_timestamp": "={{ $json.run_timestamp }}",
            "total_rows": "={{ $json.total_rows }}",
            "passed": "={{ $json.passed }}",
            "failed": "={{ $json.failed }}",
            "failure_summary": "={{ $json.failure_summary }}",
            "llm_summary": "={{ $json.llm_summary }}",
            "run_number": "={{ new Date().getTime() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "run_timestamp",
              "displayName": "run_timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "total_rows",
              "displayName": "total_rows",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "passed",
              "displayName": "passed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "failed",
              "displayName": "failed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "failure_summary",
              "displayName": "failure_summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "llm_summary",
              "displayName": "llm_summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "run_number",
              "displayName": "run_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1568,
        -400
      ],
      "id": "cb7246e4-09ad-4107-8dd7-97406ed9443a",
      "name": "Log Run (with failures)",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "YOUR_EMAIL@gmail.com",
        "subject": "={{ \"\u26a0\ufe0f Data Quality Alert \u2014 \" + $json.failed + \" failure(s) detected\" }}",
        "message": "=<h3>Data Quality Monitor \u2014 Incident Report</h3><p><strong>Run time:</strong> {{ $json.run_timestamp }}</p><p><strong>Rows checked:</strong> {{ $json.total_rows }} &nbsp;|&nbsp; <strong>Passed:</strong> {{ $json.passed }} &nbsp;|&nbsp; <strong>Failed:</strong> {{ $json.failed }}</p><hr><h4>AI-Generated Business Summary</h4><p>{{ $json.llm_summary }}</p><hr><h4>Technical Detail</h4><p>{{ $json.failure_summary }}</p><p><strong>Freshness Check:</strong> {{ $json.freshness_warning }}</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1760,
        -400
      ],
      "id": "49a3dab3-1c30-438e-a609-1a78d64e3d72",
      "name": "Send Alert Email",
      "webhookId": "400dd163-ae27-4920-b0e7-d5eb24a47f51",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -256,
        -144
      ],
      "id": "ce47c7a6-3f97-4125-91be-063a87837257",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.slack.com/services/YOUR/SLACK/WEBHOOK",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $('Extract LLM Summary').item.json.failed + \" failures out of \" + $('Extract LLM Summary').item.json.total_rows + \" rows. Passed: \" + $('Extract LLM Summary').item.json.passed + \". Run: \" + $('Extract LLM Summary').item.json.run_timestamp + \". Freshness: \" + $('Extract LLM Summary').item.json.freshness_warning }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1952,
        -400
      ],
      "id": "921b3004-0c7d-4d64-bc2c-e514244250bb",
      "name": "Send Slack Alert"
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(item => item.json);\n\nconst validDates = rows\n  .map(row => new Date(row.order_date))\n  .filter(d => !isNaN(d.getTime()));\n\nconst mostRecentDate = validDates.length > 0 \n  ? new Date(Math.max(...validDates.map(d => d.getTime())))\n  : null;\n\nconst now = new Date();\nconst hoursSinceLastOrder = mostRecentDate \n  ? (now - mostRecentDate) / (1000 * 60 * 60)\n  : 9999;\n\nconst isFresh = hoursSinceLastOrder <= 24;\nconst freshnessWarning = !isFresh \n  ? \"WARNING: No new orders in the last 24 hours. Last order date: \" + (mostRecentDate ? mostRecentDate.toISOString() : \"unknown\")\n  : \"Data is fresh. Last order: \" + (mostRecentDate ? mostRecentDate.toISOString() : \"unknown\");\n\nreturn rows.map(row => ({\n  json: {\n    ...row,\n    _freshness_ok: isFresh,\n    _freshness_warning: freshnessWarning,\n    _hours_since_last_order: Math.round(hoursSinceLastOrder)\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        144,
        -144
      ],
      "id": "a323f8cb-fd7c-4f2c-bae3-80fefb8bd270",
      "name": "Check Data Freshness"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8f2bb416-c5cb-4499-b8eb-8cf106d23c14",
              "leftValue": "={{ $json.failed / $json.total_rows * 100 }}",
              "rightValue": 10,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        736,
        -160
      ],
      "id": "a650f7d9-93ef-4243-845f-57c0cf76d863",
      "name": "Exceeds Threshold?"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "Orders Data"
        },
        "sheetName": {
          "__rl": true,
          "value": "audit_log",
          "mode": "list",
          "cachedResultName": "audit_log"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "run_timestamp": "={{ $json.run_timestamp }}",
            "total_rows": "={{ $('Run Quality Checks').item.json.total_rows }}",
            "passed": "={{ $('Run Quality Checks').item.json.passed }}",
            "failed": "={{ $('Run Quality Checks').item.json.failed }}",
            "llm_summary": "Below alert threshold - no LLM call made",
            "run_number": "={{ new Date().getTime() }}",
            "failure_summary": "={{ $('Run Quality Checks').item.json.failures.slice(0,5).map(f => \"Row \" + f.row_number + \" \" + f.order_id + \" \" + f.issues.join(\" and \")).join(\" | \") }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "run_timestamp",
              "displayName": "run_timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "total_rows",
              "displayName": "total_rows",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "passed",
              "displayName": "passed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "failed",
              "displayName": "failed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "failure_summary",
              "displayName": "failure_summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "llm_summary",
              "displayName": "llm_summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "run_number",
              "displayName": "run_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1088,
        -144
      ],
      "id": "b3936b12-346d-4d49-9eb6-a716e8648c3a",
      "name": "Log Run (below threshold)",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Read Orders": {
      "main": [
        [
          {
            "node": "Check Data Freshness",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Quality Checks": {
      "main": [
        [
          {
            "node": "Has Failures?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Failures?": {
      "main": [
        [
          {
            "node": "Exceeds Threshold?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Run (clean)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Shape LLM Payload": {
      "main": [
        [
          {
            "node": "Call Gemini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Gemini": {
      "main": [
        [
          {
            "node": "Extract LLM Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract LLM Summary": {
      "main": [
        [
          {
            "node": "Log Run (with failures)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Run (with failures)": {
      "main": [
        [
          {
            "node": "Send Alert Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read Orders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Alert Email": {
      "main": [
        [
          {
            "node": "Send Slack Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Data Freshness": {
      "main": [
        [
          {
            "node": "Run Quality Checks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Exceeds Threshold?": {
      "main": [
        [
          {
            "node": "Shape LLM Payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Run (below threshold)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "c71184d7-ac84-4b87-97d6-2fcdba2c955f",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "REPLACE_WITH_YOUR_INSTANCE_ID"
  },
  "id": "8h6gJ0zWxZ3dpsqL",
  "tags": []
}